# Зависимости
node_modules
dist
dist-ssr
*.local

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Директории и файлы редактора
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Файлы окружения
.env
.env.local
.env.development
.env.production
.env.development.local
.env.test.local
.env.production.local

# Продакшн сборка
/build
/dist

# Системные файлы
.DS_Store

# Файлы IDE
.idea
.vscode

# Загруженные файлы
/uploads
uploads/